<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
          <label>vCPUs</label>
          <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;"  id="hardware-vcpus" name="hardware-vcpus">           
          </select>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
              <label>Memory (GB)</label>
              <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="hardware-memory" name="hardware-memory">  
             </select>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
             <label>Video:</label>
             <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="hardware-videos" name="hardware-videos">
             </select>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
              <label>Disk Bus:</label>
              <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="hardware-disk_bus" name="hardware-disk_bus">
              </select>
       </div> 
</div>
<div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
             <label>Boot:</label>
             <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="hardware-boot_order" name="hardware-boot_order">
             </select>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
              <label>Disk size (GB)</label>
              <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="disk_size" name="disk_size">           
              </select>
       </div>
</div>
<div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
              <label class="control-label" for="hardware-interfaces">Networks: (select multiple networks holding Control key and clicking them)
              </label>
              <select id="hardware-interfaces" name="hardware-interfaces[]" class="tags-select roundbox" multiple="multiple" size="9" style="width: 100%;">
              </select>
      </div>
</div>

<script src="/isard-admin/static/js/snippets/domain_hardware.js"></script> 

